      <div class="modal-header">
        <div class="modal-title-container">
        	<h5 class="modal-title-loading">Logging out...</h5>
        	<h5 class="modal-title"><i class="fa fa-sign-in"></i> Login Credentials</h5 ng-title>
        </div>
      </div>
      <div class="modal-body">
		<div class="modal-view-loading loader"></div>
		<div class="modal-view" ng-view>
		  <div class="modal-view-loading loader"></div>        
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="modal-action" disabled>Login</button>
      </div>