      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-title-container">
        	<h5 class="modal-title-loading">Loading {{ title }} Activity...</h5>
        	<h5 class="modal-title" ng-title><i class="fa fa-download"></i> Detailed Payment Activity</h5 ng-title>
        </div>
      </div>
      <div class="modal-body">
		<div class="modal-view-loading loader"></div>
		<div class="modal-view" ng-view>
			<div class="payroll-view">
			 <ul class="payroll-activity">
 			  <li><span class="statement-date">2016-12-01</span><span class="statement-icon"><img src="http://findicons.com/files/icons/1686/led/16/doc_excel_csv.png"></span><span class="statement-text">Direct Deposit</span></li>
			  <li><span class="statement-date">2016-11-17</span><span class="statement-icon"><img src="http://findicons.com/files/icons/1686/led/16/doc_excel_csv.png"></span><span class="statement-text">Direct Deposit</span></li>
			  <li><span class="statement-date">2016-11-03</span><span class="statement-icon"><img src="http://findicons.com/files/icons/1686/led/16/doc_excel_csv.png"></span><span class="statement-text">Direct Deposit</span></li>
			  <li><span class="statement-date">2016-10-20</span><span class="statement-icon"><img src="http://findicons.com/files/icons/1686/led/16/doc_excel_csv.png"></span><span class="statement-text">Direct Deposit</span></li>
			  <li><span class="statement-date">2016-10-06</span><span class="statement-icon"><img src="http://findicons.com/files/icons/1686/led/16/doc_excel_csv.png"></span><span class="statement-text">Direct Deposit</span></li>
			  <li><span class="statement-date">2016-10-01</span><span class="statement-icon"><img src="http://findicons.com/files/icons/1686/led/16/doc_pdf.png"></span><span class="statement-text">Promotion</span></li>
			  <li><span class="statement-date">2016-09-22</span><span class="statement-icon"><img src="http://findicons.com/files/icons/1686/led/16/doc_excel_csv.png"></span><span class="statement-text">Direct Deposit</span></li>
			  <li><span class="statement-date">2016-09-08</span><span class="statement-icon"><img src="http://findicons.com/files/icons/1686/led/16/doc_excel_csv.png"></span><span class="statement-text">Direct Deposit</span></li>
			  <li><span class="statement-date">2016-08-16</span><span class="statement-icon"><img src="http://findicons.com/files/icons/1686/led/16/doc_pdf.png"></span><span class="statement-text">Bonus</span></li> 
			  <li><span class="statement-date">2016-08-11</span><span class="statement-icon"><img src="http://findicons.com/files/icons/1686/led/16/doc_excel_csv.png"></span><span class="statement-text">Direct Deposit</span></li>
			  <li><span class="statement-date">2016-07-28</span><span class="statement-icon"><img src="http://findicons.com/files/icons/1686/led/16/doc_excel_csv.png"></span><span class="statement-text">Direct Deposit</span></li>
			  <li><span class="statement-date">2016-07-14</span><span class="statement-icon"><img src="http://findicons.com/files/icons/1686/led/16/doc_excel_csv.png"></span><span class="statement-text">Direct Deposit</span></li>
			  <li><span class="statement-date">2016-07-01</span><span class="statement-icon"><img src="http://findicons.com/files/icons/1686/led/16/doc_pdf.png"></span><span class="statement-text">Insurance Deductible</span></li>
			  <li><span class="statement-date">2016-06-30</span><span class="statement-icon"><img src="http://findicons.com/files/icons/1686/led/16/doc_excel_csv.png"></span><span class="statement-text">Direct Deposit</span></li>
			  <li><span class="statement-date">2016-06-16</span><span class="statement-icon"><img src="http://findicons.com/files/icons/1686/led/16/doc_excel_csv.png"></span><span class="statement-text">Direct Deposit</span></li>
			  <li><span class="statement-date">2016-06-02</span><span class="statement-icon"><img src="http://findicons.com/files/icons/1686/led/16/doc_excel_csv.png"></span><span class="statement-text">Direct Deposit</span></li>
			  <li><span class="statement-date">2016-05-19</span><span class="statement-icon"><img src="http://findicons.com/files/icons/1686/led/16/doc_excel_csv.png"></span><span class="statement-text">Direct Deposit</span></li>
			  <li><span class="statement-date">2016-05-05</span><span class="statement-icon"><img src="http://findicons.com/files/icons/1686/led/16/doc_excel_csv.png"></span><span class="statement-text">Direct Deposit</span></li>
			  <li><span class="statement-date">2016-04-21</span><span class="statement-icon"><img src="http://findicons.com/files/icons/1686/led/16/doc_excel_csv.png"></span><span class="statement-text">Direct Deposit</span></li>
			  <li><span class="statement-date">2016-04-07</span><span class="statement-icon"><img src="http://findicons.com/files/icons/1686/led/16/doc_excel_csv.png"></span><span class="statement-text">Direct Deposit</span></li>
			  <li><span class="statement-date">2016-03-24</span><span class="statement-icon"><img src="http://findicons.com/files/icons/1686/led/16/doc_excel_csv.png"></span><span class="statement-text">Direct Deposit</span></li>
			  <li><span class="statement-date">2016-03-10</span><span class="statement-icon"><img src="http://findicons.com/files/icons/1686/led/16/doc_excel_csv.png"></span><span class="statement-text">Direct Deposit</span></li>
			  <li><span class="statement-date">2016-02-25</span><span class="statement-icon"><img src="http://findicons.com/files/icons/1686/led/16/doc_excel_csv.png"></span><span class="statement-text">Direct Deposit</span></li>
			  <li><span class="statement-date">2016-02-11</span><span class="statement-icon"><img src="http://findicons.com/files/icons/1686/led/16/doc_excel_csv.png"></span><span class="statement-text">Direct Deposit</span></li>
			  <li><span class="statement-date">2016-01-28</span><span class="statement-icon"><img src="http://findicons.com/files/icons/1686/led/16/doc_excel_csv.png"></span><span class="statement-text">Direct Deposit</span></li>
			  <li><span class="statement-date">2016-01-14</span><span class="statement-icon"><img src="http://findicons.com/files/icons/1686/led/16/doc_excel_csv.png"></span><span class="statement-text">Direct Deposit</span></li>
			  <li><span class="statement-date">2016-01-07</span><span class="statement-icon"><img src="http://findicons.com/files/icons/1686/led/16/doc_pdf.png"></span><span class="statement-text">EOY Earnings</span></li>

			 </ul>
		    </div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="modal-close" data-dismiss="modal">Exit</button>
      </div>




