      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-title-container">
        	<h5 class="modal-title-loading">Loading {{ title_loading }}...</h5>
        	<h5 class="modal-title"><i class="fa fa-wrench"></i> {{ title_loaded }}</h5 ng-title>
        </div>
      </div>
      <div class="modal-body">
		<div class="modal-view-loading loader"></div>
		<div class="modal-view" ng-view>
			<div class="program-listing">
				<span class="modal-instructions"><i class="fa fa-arrows-alt"></i> Drag & Drop Functionality
					<p><strong>Instructions:</strong> Hold down the mouse button and drag a program to a position of your choosing. You also can toggle the display. Hit the <strong>Save</strong> button when finished.</p></span>
				<ul id="program-listing-list">
					<li class="card" ng-repeat=" program in programs" data-id="{{program.id}}" data-original="{{$index}}" data-current="{{$index}}">
						<div class="card-header"></div>
					  	 <div class="card-block">{{ program.name }}</div>
						 <div class="card-footer" ng-if="program.display == true">
						 	
							<span class="program-listing-label"><input type="checkbox" class="program-listing-checkbox" checked> Display</span>
						 </div>
						 <div class="program-listing-checkbox-holder card-footer" ng-if="program.display == false">
						 	
							<span class="program-listing-label"><input type="checkbox" class="program-listing-checkbox"> Display</span>
						 </div>						 							
					</li>
				</ul>
			</div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="modal-action" disabled>Save</button>
        <button type="button" class="btn btn-secondary" id="modal-close" data-dismiss="modal">Cancel</button>
      </div>