#login-email, #login-password{
    width: 200px;
    height: 28px;
  background-color: rgb(250, 255, 189);
}
.control-label {
    font-size: .83em;
    font-weight: bold;
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}
input{
  
    font-size: .83em;
}
#login-remember{
      line-height: normal;
    vertical-align: middle;
}
.remember-me{
  display:inline-block;
  font-size: .65em;
    vertical-align: middle;
}
  .remember {
    width: 100%;

    font-weight: normal;
  }
  .remember-holder{
    width: 68%;
    text-align: right;
  }
