.program-listing{
  margin: 20px auto;
}

.program-listing ul { 
  text-align:left; 
  margin: 0;
  padding: 0;
 }
 
 
.program-listing ul li { 
    /* drag & drop */
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    /* make list elements fall inline as block elements */
    position: relative;
    display: inline-block;
    width: 24%;
    height: 100px;
    line-height: 100px;
    text-align: left;
    vertical-align: middle;
    border-top:1px solid #f9f9f9;
    border-left:1px solid #f9f9f9;
}

.program-listing ul li:active{ 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
/* horizontally center ul element */

.program-listing-title{
  font-weight: bold;
  font-size: .70rem;
  text-align: center;
  vertical-align: middle;
  height: 50px;
 } 
 
 .program-listing-label{
  height: 25px;
  line-height: 25px;
  padding: 0;
  margin: 0;
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  font-size: .65rem;
  vertical-align: middle;
 }
 .program-listing-checkbox{
  width: 10px;
  height: 10px;
  padding: 0;
  margin:0;
  vertical-align: middle;
  position: relative;
  top: -1px;
  *overflow: hidden;
 }
.program-listing ul li .program-listing-checkbox-holder{
  margin-top: 25px;
  height: 25px;
  text-align: center;
}
