<div style="height: 100%; width: 100%; margin: 35% auto; text-align: center; color: #ccc;"><i class="fa fa-lock fa-4x"></i></div>
<style>

	body.modal-open{ overflow: hidden;}
</style>
<script>
$(function(){
   $('button[ui-sref="login"]').trigger("click");
});
</script>
