      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-title-container">
        	<h5 class="modal-title-loading">Loading {{ title }} Activity...</h5>
        	<h5 class="modal-title" ng-title>{{ title }}</h5 ng-title>
        </div>
      </div>
      <div class="modal-body">
		<div class="modal-view-loading loader"></div>
		<div class="modal-view" ng-view>
			<span>Detailed Payment Activity</span>
			<ul class="program-highlighted-text">
			 <li><a href="#">2016-05-01</a><img src="http://findicons.com/files/icons/977/rrze/48/excel.png" height="22"></li>
			 <li><a href="#">2016-04-01</a><img src="http://findicons.com/files/icons/977/rrze/48/excel.png" height="22"></li>
			 <li><a href="#">2016-03-01</a><img src="http://findicons.com/files/icons/977/rrze/48/excel.png" height="22"></li>
			 <li><a href="#">2016-02-01</a><img src="http://findicons.com/files/icons/977/rrze/48/excel.png" height="22"></li>
			 <li><a href="#">2016-01-01</a><img src="http://findicons.com/files/icons/977/rrze/48/excel.png" height="22"></li>
			</ul>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="modal-close" data-dismiss="modal">Close</button>
      </div>




